.select {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
}

.selectIcon {
  position: absolute;
  background-color: var(--color-midnight-green);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-old-lace);
  font-size: 30px;
  z-index: 1;
  transition: background-color 0.3s ease;
}

.select_input {
  /* padding-left: calc(60px + 9px); */
  border: 3px solid var(--color-midnight-green);
  border-radius: 50px;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--color-old-lace);
  font-size: 22px;
  transition: box-shadow 0.3s ease;
}

.select_input:focus {
  background-color: white;
  outline: none;
  /* box-shadow: 0 0 0 3px rgba(0, 73, 83, 0.3); */
}

.select:hover .selectIcon {
  background-color: var(--color-hover-blue);
}

.select_input:hover {
  border: 3px solid var(--color-hover-blue);
}
