.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* 半透明黑色背景 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* 確保它在其他內容之上 */
}

.modal {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  gap: 30px;
  padding: 30px 50px;
  width: 100%;
  max-width: 656px;
}

.success {
  font-family: 'Gensen', sans-serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 6px;
  color: var(--color-midnight-green);
}

.reminder {
  font-size: 18px;
}

.btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btnBack {
  width: 50%;
  height: 40px;
  font-family: 'Gensen', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3px;
  border-radius: 50px;
  border: solid var(--color-dark-gray);
  background-color: var(--color-dark-gray);
  color: var(--color-white);
}

.btnFin {
  width: 50%;
  height: 40px;
  font-family: 'Gensen', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3px;
  border-radius: 50px;
  color: var(--color-whitesmoke);
  border: var(--color-midnight-green);
  background-color: var(--color-midnight-green);
}

.btnClose {
  width: 40%;
  height: 40px;
  font-family: 'Gensen', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3px;
  border-radius: 50px;
  color: var(--color-whitesmoke);
  border: var(--color-midnight-green);
  background-color: var(--color-midnight-green);
}

@media (max-width: 900px) {
  .modal {
    width: 90%;
    border-radius: 40px;
    gap: 20px;
    padding: 12px 10px;
  }

  .success {
    font-family: 'Gensen', sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.3px;
  }

  .reminder {
    font-family: 'Gensen', sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2.4px;
  }
}
