.year_num{
    font-family: 'Otomanopee';
    font-size: 22px;
    margin-bottom: 50px;
}
.num{
    font-size: 30px;
}
.month{
    display: flex;
    flex-wrap: wrap;
    gap:70px;
    margin-bottom: 50px;
}
.month .num{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}
.month .num.active {
    background-color: var(--color-midnight-green);
    color: var(--color-white); 
}
.date_card{
    display: flex;
    flex-wrap: wrap;
    gap:50px;
    margin-bottom: 50px;
}
.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 27px;
    padding: 20px 30px;
    background-color: var(--color-old-lace);
    color: var(--color-black);
    border-radius: 40px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
/* 行程卡active時 */
.card.active {
    background-color: var(--color-midnight-green);
    color: var(--color-yellow);
}
.schedule{
    width:50%;
    padding: 5px 5px 5px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 2px dashed var(--color-midnight-green);
    margin-bottom: 20px;
}
.flex{
    display: flex;
    flex-direction: column;
    gap:16px
}
.time_and_gym{
    display: flex;
    gap:10px;
}
@media screen and (max-width: 1080px){
    .edit_btn{
        justify-content: center; 
    }
    .btn_md{
        width: 150px;
        height: 60px;
    }
}

@media screen and (max-width: 950px){
    .menu{
        display:none ;
      }
      .warp{
        padding:0 16px;
        border-radius:0;
        background-color: var(--color-white);
    }
    .userinfo{
        background: white;
        padding:0;
        border-radius:0;
        width: 100%;
        box-shadow:none;
    }
    .month {
        justify-content: center;
        /* gap:30px; */
    }
    .date_card {
        gap: 10px;
        margin-bottom: 50px;
    }
    .schedule{
        width:100%;
    }
}
@media screen and (max-width: 600px){
    .month {
        justify-content: center;
        /* gap:30px; */
    }
    .date_card {
        gap: 10px;
        margin-bottom: 50px;
    }
    .schedule{
        width:100%;
    }
}