.user-container{
    padding: 0;
    align-items: start;
}
.user_form{
    display: flex;
    flex-direction: column;
    text-align:start;
    gap: 120px;
    border-bottom: none;
}
@media screen and (max-width: 600px) {
    .user-container{
        align-items: center;
    }
  }