/* 字體設定 */
@font-face {
    font-family:'Gensen';
    src: url('../fonts/GenSenRounded-B.ttc') format('truetype');
}

@font-face {
    font-family:'abc';
    src: url('../fonts/jf-openhuninn-2.0.ttf') format('truetype');
}

/* 總body設定 */
body{
    margin: 0;
    padding: 0;
}

/* header設定開始*/

.navbar{
    margin: 10px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
    /* background-color: aqua; */
    display: flex;
    /* align-items: center;  */
    height: 66px; ;
}
/* logo與右邊間距 */
.logo{
    margin-right: 21px;
}
.logo_photo{
    width: 150px;
}
.list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.list li {
margin-right: 20px; /* 可選 */
font-family:'Gensen', sans-serif;
font-size: 18px;
padding-top: 21px;
}



.icons {
    display: flex;
    list-style: none; /* 去掉 li 項的圓點 */
    padding: 0; /* 去掉 ul 的內邊距 */
    margin-left: auto; /* 將 icons 列表推到最右邊 */
    align-items: end;
    justify-content: center;
    padding-top: 39px;
}

.icons .member{
    /* color:black; */
    margin-right: 10px;
    font-size: 21px;
}

.icons .cart{
    /* color:black; */
    margin-right: 10px;
    font-size: 21px;
}

/* header設定結束*/

/* section開始 */
.test{
    background-color: pink;
    font-family: 'abc',sans-serif;
}
    
/* footer開始 */
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}
.icon{
    display: flex;
    font-size: 30px;
    gap: 20px;
    align-items: center;
}
    footer {
        display: flex;
        background-color: #FFF7E9;
        margin-left: 20px;
        border-radius: 40px 0 0 0;
        padding: 20px 100px 10px 30px;
        /* padding: 20px 100px 20px 30px; */
        justify-content: space-between;
    }
    footer>li{
        padding: 10px;
    }
    
    #back-to-top {
        display: flex;
        padding: 40px 16px 40px 16px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        height: 150px;
        border-radius: 43px 0 0 0;
        position: fixed;
        bottom: 0px;
        right: 0px;
        display: none;
        /* Initially hidden */
        background-color: #FFC800;
        color: black;
        border: none;
        cursor: pointer;
        font-size: 16px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        transition: opacity 1s ease, bottom 1s ease;
        animation: slideUp 1s forwards;
    }
    
    @keyframes slideUp {
        0% {
            bottom: -50px;
    
            opacity: 0;
        }
    
        100% {
            bottom: 0px;
            opacity: 1;
        }
    }
    
    #back-to-top:hover {
        background-color: #d1a402;
    }

    .copyRight{
    font-family: 'abc',sans-serif;
    font-size: 16px;
    }
/* footer開始 */