.fountText {
  color: #1a394a;
  font-size: 40px;
  padding-bottom: 20px;
  display: flex;
}
.fountP {
  color: black;
  font-size: 18px;
  padding-bottom: 20px;
}
.fountPrice {
  color: #1a394a;
  font-size: 40px;
  padding-bottom: 60px;
 
}
.fountTitle {
  font-size: 24px;
}
.btnCart {
  background-color: #1a394a;
  border-radius: 50px;
  font-size: 24px;
  width: 100%;
  height: 10%;
  color: white;
  
}
@media screen and (max-width: 390px) {
  .fountTitle{
     display: flex;
  justify-content: center;
  }

 
}