.articleImg {
  display: flex;
  flex-direction: column;
  max-height: 600px;
  height: auto;
  width: 100%;
  padding: 0;
  margin-bottom: 45px;
  overflow: hidden;
  border-radius: 50px;
  box-shadow: 0 5px 30px rgb(70, 68, 65, 0.25);
}

.articleImg img {
  /* height: calc(100% - 78px); */
  height: 500px;
  width: 100%;
  border-radius: 0 0 0 50px;
  object-fit: cover;
}

.articleImgText {
  height: 78px;
  padding: 20px 20px 20px 40px;
  font-family: 'Gensen', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3px;
}
