.userContainer{
    padding: 0;
    align-items: start;
    margin-top:30px ;
}
.userForm{
    display: flex;
    flex-direction: column;
    text-align:start;
    gap: 120px;
    border-bottom: none;
}
@media screen and (max-width: 600px) {
    .userContainer{
        align-items: center;
        width: 100%;
    }
    .userForm{
        width: 100%;
    }
  }