/* .inline {
  display: inline-block;
  width: 70px;
  border-radius: 30px;
  background-color: var(--color-midnight-green);
  color: white;
  text-align: center;
}
.inline > h6 {
  padding: 11px 0;
} */
