.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* 半透明黑色背景 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* 確保它在其他內容之上 */
}

.modal {
  background-color: var(--color-white);
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  gap: 15px;
  padding: 12px 10px;
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.success {
  font-family: 'Gensen', sans-serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 6px;
  color: var(--color-midnight-green);
}

.reserveInfo {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.infoRow {
  display: flex;
  align-items: flex-start;
  justify-content: start;
}

.label {
  font-family: 'Gensen', sans-serif;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 10px;
  margin-right: 18px;
  width: 180px;
  /* Adjust this value to ensure alignment */
}

.details {
  display: flex;
  flex-direction: column;
}

.name {
  font-family: 'Gensen', sans-serif;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 10px;
}

.contact {
  display: flex;
  gap: 30px;
  font-size: 16px;
  letter-spacing: 1.6px;
  line-height: 130%;
}

.coachInfo {
  display: flex;
  flex-direction: column;
  font-family: 'Gensen', sans-serif;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 8px;
}

.reserveTime {
  display: flex;
  flex-direction: column;
  font-family: 'Gensen', sans-serif;
  font-size: 22px;
  font-weight: 700;
}

.nice {
  background-color: var(--color-old-lace);
  width: 90%;
  margin: 0 36px 3px 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
  gap: 20px;
}

.niceTitle {
  font-family: 'Gensen', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3px;
  padding-top: 20px;
}

.niceRemind {
  font-family: 'Gensen', sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 0px 18px 20px 18px;
}

.join {
  margin-left: 30px;
  width: 40%;
  padding: 10px 20px;
  border-radius: 50px;
  background: var(--color-tomato);
  border: var(--color-tomato);
  color: var(--color-old-lace);
}

.btns {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btnBack {
  width: 50%;
  height: 40px;
  font-family: 'Gensen', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3px;
  border-radius: 50px;
  border: 3px solid var(--dark-gray, #464441);
  background-color: var(--color-white);
  color: var(--color-dark-gray);
}

.btnFin {
  width: 50%;
  height: 40px;
  font-family: 'Gensen', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3px;
  border-radius: 50px;
  color: var(--color-whitesmoke);
  border: var(--color-midnight-green);
  background-color: var(--color-midnight-green);
}

@media (max-width: 900px) {
  .modal {
    width: 90%;
    border-radius: 40px;
    gap: 20px;
    padding: 12px 10px;
  }

  .name {
    font-family: 'Gensen', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3px;
  }

  .success {
    font-family: 'Gensen', sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2.4px;
  }

  .label {
    padding-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    letter-spacing: 1px;
    width: 36%;
    flex-shrink: 0;
  }

  .coachInfo {
    font-family: 'Gensen', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3px;
  }

  .reserveTime {
    font-family: 'Gensen', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3px;
  }

  .nice {
    width: 95%;
    /* 略微增加宽度 */
  }

  .join {
    width: 80%;
    /* 在手机上增加按钮宽度 */
    margin-top: 15px;
    /* 调整上边距 */
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
}
